# This is a python file.

WIKI = 'http://wiki.example.com/w/'
API_PHP = WIKI + 'api.php'
INDEX_PHP = WIKI + 'index.php'
USERNAME = 'Image optimisation bot'
PASSWORD = 'password'
CATEGORY = 'Category:Images needing compression'

OPTIPNG = 'optipng'
OPTIPNG_OPTIONS = ['-o7', '-i0']
ZOPFLIPNG = 'zopflipng'
ZOPFLIPNG_OPTIONS = ['-m']
GIFSICLE = 'gifsicle'
GIFSICLE_OPTIONS = ['-O3', '--no-comments', '--no-names']
JPEGOPTIM = 'jpegoptim'
JPEGOPTIM_OPTIONS = ['--strip-all']

# Upload comment
COMMENT = '(Automated) lossless recompression/optimisation'

# Regex to remove compression template from image description page
REMOVE = r'{{compress?(ion)?}}'

# vim:ft=python:
